<div class="mt-2">
    <form method="post" action="/courses">
        <div class="form-group">
            <label for="search-input">Name Course</label>
            <input type="text" name="name" class="form-control" id="search-input"  placeholder="Enter name of course ...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>