<div class="container navbar-logout">
    <div class="ml-auto">
    <ul class="navbar-nav">
        <a href="/user/loginForm" class="navbar-brand">Login</a>
        <a href="/user/signupForm" class="navbar-brand">Signup</a>
    </ul>
    </div>
</div>