<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <div class="navbar-login hiding">
        <a class="navbar-brand" href="/">Courses</a>
        <a class="navbar-brand" href="/{{user.encode_id}}/search">Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="https://static.platzi.com/media/achievements/badges-postgresql-2f962bec-2552-403a-803d-85db006f2731.png" alt="" class="user-avatar">
                {{user.user_name}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/courses/create">Create Course</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/me/stored/courses">My Courses</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
</nav>